<td>
  <%= @team.season_total %>
</td>
<td>
  <%= @team.s1_total %>
</td>
<td>
  <%= @team.s2_total %>
</td>
<td>
  <%= @team.s3_total %>
</td>
<td>
  <%= @team.s4_total %>
</td>
<td>
  <%= @team.s5_total %>
</td>
<td>
  <%= @team.playoff_total %>
</td>
