<li>
  <%= @team.season_total %>
</li>
<li>
  <%= @team.s1_total %>
</li>
<li>
  <%= @team.s2_total %>
</li>
<li>
  <%= @team.s3_total %>
</li>
<li>
  <%= @team.s4_total %>
</li>
<li>
  <%= @team.s5_total %>
</li>
<li>
  <%= @team.playoff_total %>
</li>
