<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section class="league_info">
      <ul>
        <% if @user == current_user %>
          <li><%= link_to "Make a new league", new_league_url, class: "btn btn-primary" %></li>
        <% else %>
          <li><%= link_to "Invite to league", invite_url(:user_id => @user.id), class: "btn btn-primary"  %></li>
        <% end %>
      </ul>
      <ul>
        <h3>Teams:</h3>
        <%= render @user.teams %>
      </ul>
    </section>
  </aside>
</div>
